.wrapper
{
    width: 100%;
    min-height: 100vh;
    color: white;
}

.content
{      
    margin: 0 auto; 
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    flex-wrap: wrap;
}

.secondary
{
    flex-grow: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.gamespace
{
    
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.btn
{
    width: 300px;
}

.input-number
{
    width: fit-content;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
}


@media (max-width:1168px)
{
    .secondary
    {
        max-width: unset;
    }

    .gamespace
    {
        width: 100%;
    }
}


